<% var name = name || 'xiaohaahha' %>
<% var age = age || 123456 %>
<div>
    <p>I am a child ejs template </p>
    <div><%- name %></div>
    <div><%- age %></div>
    <p style='color:red;'>red color</p>
    <div >一个for循环的做法，其实就是js语法</div>
    <!-- <ol>
        <% for (var i = 0; i< 3; i++) { %>
            <li><%- i + '   li element' %> </li>
        <% } %>
    </ol> -->
</div>